# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and local environment settings
*.log
*.env

# IDE/editor-specific files
.vscode/
.idea/
*.swp

# Cache files
.cache/
# back up list of test urls
backup_list_urls.txt
